
body {
  background-color: black;
}

h1 {
  color: goldenrod;
}

p {
  color: goldenrod;
}

label {
  color: goldenrod;
}

form {
  display: none;
  margin-left: 650px;
  text: center;
}

.card {
  background-color: black;
}
